.categories {
    display: flex;
    height: 72px;
    gap: 24px;
   
  }
  
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid #333;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 6px;
    font-weight: 700;
    transition: all 0.4s ease;
  }
  .category:hover{
   border-color: rgba(255, 255, 255, 0.7);
  }
  @media only screen and (min-width: 320px) and (max-width: 767px){
    .categories{
      height: 48px;
      overflow-x: scroll;
      gap: 16px;
    }
    .categories::-webkit-scrollbar {
      display: none;
    }
    .category{
      padding: 0 20px;
    }
  }
